html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

html,
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  overflow: hidden;
  background-color: #555555;
  min-height: 100%;
  height: 100%;
}

div.header {
  min-height: 50px;
  height: 50px;
  color: white;
  background-color: black;
  width: 100%;
}

main {
  background-image: url(../img/background.png);
  background-size: 100%;
  min-height: calc(100vh - 100px);
  height: calc(100vh - 100px);
}

footer {
  z-index: 1100;
}

.flex {
  flex: 1;
}

.flex_p {
  display: flex;
}

.flex_col {
  flex-direction: column;
}

.center-margin {
  margin: 0 auto;
}

#super {
  width: 150px;
  height: auto;
}

.Screen {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: none;
  padding: 15px;
}

.Screen.active {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.overlay {
  z-index: 10000;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.no-mar {
  margin: 0;
}

.no-pad {
  padding: 0;
}

#clock {
  color: #efe06e;
}

#cpr {
  background-color: rgba(255, 0, 0, 0.3);
  color: yellow;
}

.button-card {
  background-color: rgba(0, 100, 255, 0.4);
}

#start {
  background-color: rgba(0, 0, 255, 0.5);
}

#timer {
  font-weight: bold;
}

.button-text {
  color: yellow;
}

#row1 {
  height: 60%;
}

#row2 {
  height: 40%;
}

.yellowText {
  color: #efe06e;
}

input[type="radio"].with-gap:checked + label:before,
input[type="radio"].with-gap:checked + label:after {
  border: 2px solid blue !important;
}

input[type="radio"].with-gap:checked + label:after {
  background-color: blue !important;
}

input[type="radio"].with-gap + label:before,
input[type="radio"].with-gap + label:after {
  border: 2px solid #efe06e !important;
}

#logListCard {
  background-color: rgba(0, 0, 255, 0.3);
}

#aboutCard,
#settingsCard {
  background-color: rgba(255, 0, 0, 0.3);
  color: #efe06e;
}

#settingsList > li > label {
  color: #efe06e;
}

#logList li,
#settingsList li {
  margin: 8px;
}

.card-panel {
  border-radius: 10px;
  padding: 15px !important;
}

hr {
  margin: 10px 0;
}

ul > li.menuItem *,
.header * {
  vertical-align: middle !important;
}

.menuItem > i {
  margin-right: 15px;
  color: red;
}

#menuImg {
  height: 150px;
  width: 250px;
}

.sidebar {
  position: fixed;
  display: inline-block;
  top: 0px;
  height: 100%;
  width: 250px;
  left: -250px;
  background-color: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 20000;
  color: #efe06e;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
  /**/
}
